<div class="autor">
  <h1 class="author__heading">Hello, I'm Dawson</h1>
  <p class="author__body">Web Developer and Student</p>
</div>

<img src="img/apple.jpeg" alt="apple" />

<section class="articles">
  <h2 class="articles__heading">Latest Posts</h2>

  <!-- Dummy data displayed until we include posts later on.-->
  <ul class="article-ul">
    <li>
      <a href="#">
        <span>Post Title</span>
        <span class="article-list__date">Date</span>
      </a>
    </li>
  </ul>

  <a href="*" class="pagination"> &lt; Veiw Older Posts </a>
</section>
